.header {
    height: 110px;
    box-shadow: 2px 2px 2px 2px black;
    position: relative;
}

.header img {
    width: 120px;
}

.auth {
    position: absolute;
    right: 0;
    bottom: 0;
}

.auth>a {
    letter-spacing: 5px;
    margin-right: 10px;
}